[Unit]
Description=AXIS master.
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/axis
ExecStart=/usr/bin/axis master
Restart=on-failure
LimitNOFILE=10240

[Install]
WantedBy=multi-user.target
